# Dependency Files
node_modules/
package-lock.json
yarn.lock

# Log Files
logs/
*.log
report*.json

# Temp Files
tmp/

# Config Files
.env
.env.keys
config.json
command-leaderboard.json
command-last-run.json
blacklist.json
jeopardy.json

# Mac Files
.DS_Store

# In-Development Commands
